@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
}

main {
  max-width: 100vw;
  transform: scale(0.9);
}

p,
span {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Kalnia", serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
a {
  text-decoration: underline;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.personal_details {
  min-width: 100%;
  background-color: #303030;
  color: #ffffff;
  padding: 30px 0 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.detail .profession {
  font-size: 12px;
  letter-spacing: 2px;
}

.address_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 15px 0;
  font-size: 0.8rem;
}

.address_info a,
.address_info span {
  padding-left: 4px;
}

.other_details {
  background-color: #ffffff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.other_details h2 {
  color: #303030;
  font-weight: bold;
  margin-bottom: 5px;
}
.other_details h4 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.links .link_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.skills {
  width: 100%;
}
.skill_set {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.skill_set .skill .level_container {
  height: 8px;
  width: 80%;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(220, 220, 220);
  margin-top: 6px;
}

.skill_set .skill div .level {
  height: 100%;
  background-color: #000;
}

.btn {
  cursor: pointer;
  border: none;
  margin-bottom: 25px;
  margin-left: 45%;
  letter-spacing: 1px;
  padding: 8px 16px;
  background-color: cornflowerblue;
  border-radius: 6px;
}
.btn:active {
  background-color: rgba(100, 148, 237, 0.832);
}

@media (max-width: 480px) {
  .address_info {
    font-size: 0.7rem;
    gap: 20px;
  }
  .address_info i {
    display: none;
  }
  .btn {
    margin-left: 35%;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 60vw;
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    transform: scale(1);
  }

  .address_info {
    gap: 45px;
  }

  .other_details {
    padding: 80px 100px;
  }
}
